{
    email {$ACME_EMAIL}
}

{$API_DOMAIN} {
    encode zstd gzip
    reverse_proxy backend:8000
}

{$USER_DOMAIN} {
    encode zstd gzip
    reverse_proxy user_panel:80
}

{$ADMIN_DOMAIN} {
    encode zstd gzip
    reverse_proxy admin_panel:80
}

{$SUPERADMIN_DOMAIN} {
    encode zstd gzip
    reverse_proxy superadmin_panel:80
}
