{
    email {$MARKET_ACME_EMAIL}
}

{$MARKET_API_DOMAIN} {
    encode zstd gzip
    reverse_proxy backend:8000
}

{$MARKET_USER_DOMAIN} {
    encode zstd gzip
    reverse_proxy user_panel:80
}

{$MARKET_ADMIN_DOMAIN} {
    encode zstd gzip
    reverse_proxy admin_panel:80
}

{$MARKET_SUPERADMIN_DOMAIN} {
    encode zstd gzip
    reverse_proxy superadmin_panel:80
}
