KULCHA_CHANNEL_SUBSCRIPTIONS_BOT_TOKEN=8653190572:AAGMbnk-FGktiB5iIMMEh9kKPMs7xd4Q0TA
KULCHA_CHANNEL_SUBSCRIPTIONS_ADMIN_ID=1038155901
KULCHA_CHANNEL_SUBSCRIPTIONS_DB=subscriptions.sqlite3
KULCHA_CHANNEL_SUBSCRIPTIONS_TZ=Europe/Moscow
